<html>
<head>
    <meta charset="UTF-8">     
    <title>오늘의 비건</title>

    <link rel="stylesheet" type="text/css" href="./static/css/01_main_page.css">   
    <style type="text/css">
		body{
		  background-image : url('./static/img/mainpage.jpg');
		  background-size: cover;
		}
		#button_group button:hover{
		  color: white;
		  background-color:#231709;
		}
		@FONT-FACE{
        font-family: 'SangSangFlowerRoad';
        src: url("./static/font/SangSangFlowerRoad.otf");
        }
	</style>
</head>

<body>  
    <div class="content">
        <div class="title">오늘의 비건</div>
        <img src="./static/img/start.png" onclick="window.location.href='/season_page'" alt="start">
    </div>
</body>
</html>
