<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>오늘의 비건</title>
	<link rel="stylesheet" type="text/css" href="07recipe_style.css">
</head>
<body>
<div class="title">{{top_TITLE}}</div>
<div>
  <hr class="thickline1">
  <img class="pic" src="http://www.foodsafetykorea.go.kr/uploadimg/20141117/20141117053334_1416213214596.jpg" >
  <hr class="line1">
  <hr class="line2">
  <p class="main_ingredient">주재료</p>
  <p class="main">
    {{top_main_ingredient}}</p>
  <hr class="line3">
  <hr class="line4">
  <p class="sub_ingredient">부재료</p>
  <p class="sub">
    {{top_sub_ingredient}}
  </p>
  <hr class="line5">
  <hr class="line6">
  <p class="how">조리법</p>
  <p class="howto">{{top_how}}</p>
  <hr class="line7">
  <hr class="line8">
  <hr class="thickline2">
  <hr class="thickline3">
</div>
<div>
  <p class="recipe">레시피</p>
  <p class="recipe1">01</p>
  <p class="exp1">{{top_recipe[0]}}</p>
  <p class="recipe2">02</p>
  <p class="exp2"> {{top_recipe[1]}}</p>
  <p class="recipe3">03</p>
  <p class="exp3"> {{top_recipe[2]}}</p>
  <p class="recipe4">04</p>
  <p class="exp4"> {{top_recipe[3]}}</p>
  <p class="recipe5">05</p>
  <p class="exp5"> {{top_recipe[4]}}</p>
  <p class="recipe6">06</p>
  <p class="exp6"> {{top_recipe[5]}}</p>
  <!--<p class="recipe7">07</p>
  <p></p>-->
</div>
<div>
  <div class="underbar"></div>
  <p class="greennarae">그린나래</p>
  <p class="introduce">불완전한 우리가 만드는 완전한 변화</p>
  <p class="for">FOR</p>
  <p class="vegan">비건(Vegan)</p>
  <p class="recipe_num">총 레시피 수</p>
  <p class="num">1,272개</p>
  <p class="contact">제휴 문의</p>
  <p class="mail">greennarae@gmail.com</p>
</div>
</body>
</html>